/* common style */

.clearfix:after {
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ' ';
}

.clearfix {
    zoom: 1;
}

body {
    font-size: 16px;
}

.new-bottom {
    line-height: 2rem;

    height: 2rem;

    text-align: center;

    border-top: 1px solid #ddd;
    background-color: #ececec;
}

.new-bottom:hover {
    cursor: default;

    background-color: #fff;
}







/* header */

.title {
    font-size: 2rem;
    line-height: 7vh;

    height: 7vh;
    padding-left: 1rem;

    color: #adadad;
    background-color: #ddd;
}

content {
    display: flex;
}







/* 分类列表 */

.classify {
    display: flex;

    min-height: 93vh;

    border-right: 1px solid #e7e7e7;
    background-color: #f2f2f2;

    flex: 1;
    flex-flow: column;
}

.classify li {
    line-height: 2rem;
}

.classify .classify-ul {
    flex: 1;
}

.classify .classify-sum {
    padding-left: 1rem;
}

.classify .classify-list>div {
    padding-left: 1rem;
}

.classify .classify-projects .project-selected {
    background-image: url('../images/file_open.png');
}

.classify .classify-projects li {
    line-height: 1.5rem;
}

.classify .classify-project {
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    padding-left: 2.5rem;

    background: url('../images/file_close.png') no-repeat 1rem center;
    background-size: 1rem;
}

.classify .classify-project+ul {
    display: none;
}

.classify .classify-project.project-selected+ul {
    display: block;
}

.classify .classify-task {
    font-size: 14px;

    float: left;

    box-sizing: border-box;
    width: 100%;
    padding-left: 3.6rem;

    background: url('../images/file.png') no-repeat 2rem center;
    background-size: .8rem .8rem;
}

.classify .pro-selected {
    background-color: #fff;
}


.classify .del-icon {
    display: none;
    float: right;

    width: .8rem;
    margin-top: .4rem;
    margin-right: 10%;

    cursor: pointer;
}

.classify .classify-project:hover .del-icon,
.classify .classify-task:hover .del-icon {
    display: block;
}

.classify .del-icon:hover {
    width: .9rem;
}

.task {
    display: flex;
    flex-direction: column;

    min-height: 93vh;

    border-right: 1px solid #d2d2d2;
    background-color: #fff;

    flex: 1;
}

.task .task-body {
    height: 3rem;

    flex: 1;
}

.task .task-ul {
    display: flex;
    flex-direction: row;
}

.task .task-ul li {
    font-size: 14px;
    line-height: 3rem;

    height: 3rem;

    text-align: center;

    background-color: #d4d4d4;

    flex: 1;
}

.task .task-ul .status-selected {
    background: #fff;
}

.task .task-date {
    font-size: 14px;
    line-height: 2rem;

    height: 2rem;
    padding-left: 1rem;

    background-color: #fafaee;
}

.task .task-item {
    font-size: 14px;
    line-height: 1.5rem;

    display: block;

    height: 1.5rem;
    padding-left: 2rem;

    background-color: #fff;
}

.task .task-selected,
.task .task-item:hover {
    background-color: #ddd;
}

.task .task-item.item-done {
    display: block;

    color: #7ec75c;
}

.detail {
    flex: 4;
}

.detail .detail-header {
    height: 4rem;

    background-color: #f2f2f2;
}

.detail .detail-leftside {
    line-height: 4rem;

    float: left;

    margin-right: 40%;
}

.detail .detail-leftside .task-name {
    font-size: 20px;

    margin-left: 1rem;

    border-color: #fff;
}

.detail .detail-rightside {
    line-height: 4rem;

    float: right;

    margin-right: 4rem;
}

.detail .detail-rightside img {
    width: 2rem;
    margin-right: 1rem;
    margin-left: .2rem;
}

.detail .detail-rightside img:hover {
    width: 2.2rem;
    margin-left: 0;

    cursor: pointer;
}

.detail .detail-date {
    line-height: 4rem;

    height: 4rem;
    padding-left: 1rem;

    background-color: #fafaee;
}

.detail .item-date {
    display: inline-block;
}

.detail .detail-content {
    padding: 2rem;
}

.detail .detail-content textarea {
    font-size: 16px;

    width: 100%;

    resize: none;

    border: 2px solid #7ea0ff;
}

.detail .detail-show {
    display: block;
}

.detail .detail-edit {
    display: none;
}
